<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link href="_header.css" type="text/css" rel="stylesheet">
</head>

<body background-color: #FFFFFF>
  <p class="btn"><%= link_to ' Tweet ',new_tweet_path %></p>
  <img class="imgform" src="/kindai.jpg">

    <div id="pagetitle">
      <img class="imgprof" src="/a.PNG">
      <img class="imgpro" src="/kindai.jpg">
      <div id="pagefollowers">
        Tweets　　　following　　　followers　　　likes<br><br>
      </div>
    </div>
</body>

</html>