<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link href="index.css" type="text/css" rel="stylesheet">
</head>

<body><br><br>
  <div id="pageproname">
    　   近畿大学
    　   <div id="pageaka">
    　     　@kinkidaigakuPR<br><br>
        </div>
  </div>
  <div id="pageprokome">
      　　近畿大学総務部広報室のTwitter公式アカ<br>
      　　ウントです。近畿大学ホームページの更<br>
      　　新情報を中心に、大学に関する情報を発信<br>
      　　していきます。 個別DMでのお問い合わせ<br>
      　　には返信を行っておりませんので、ご了承<br>
      　　ください。
  </div>
</body>

</html>