<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link href="show.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div id="showbody">
    <div id="showtweet">
      <%= form_for @tweet, url:{action: :update} do |f| %>
      <%= render "form", f: f %>
      <% end %>
      <%= link_to 'Back', '/' %>
    </div>
  </div>
</body>
</html>

