<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link href="index.css" type="text/css" rel="stylesheet">
</head>
  
<body>
    <% flash.each do |type, msg| %>
      <%= msg %>
    <% end %>


    <br><div id="pagetweet">
      <h2>Tweets</h2>
      <% @tweets.each do |tweet| %>
        <p>
          <%= link_to tweet.message, tweet%>
          <%= (Time.current - tweet.tdate).to_i / 60 %>分前<br>
          <%= link_to '削除', tweet, method: :delete %>
          <%= link_to '編集', edit_tweet_path(tweet) %><hr>
        </p>
      <% end %>
    </div>
</body>

</html>