<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link href="show.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div id="showbody">
    <div id="showtweet">
<% if @tweet.errors.present? %>
<h3>エラーです。</h3>
<ul>
  <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @tweet, url:{action: :create} do |f| %>
  <%= render "form", f: f %>
<% end %>
    </div>
  </div>
</body>
</html>