<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link href="show.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div id="showbody">
    <div id="showtweet">
<p>
  <strong>メッセージ：</strong>
  <%= @tweet.message %>
</p>

<p>
  <strong>経過時間：</strong>
  <%= (Time.current - @tweet.tdate).to_i / 60 %>分前
</p>

<%= link_to 'Back', '/' %>
    </div>
  </div>
</body>
</html>