body {
  background-color: #FFFFFF;
}

#pagetitle {
  height: 280;
  background-color: #FFFFFF;
}

.btn a {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #00bfff;
  padding: 5px 10px;
  border-radius: 20px;
  float: right;
  margin: -7px 0px 5px;
}

.btn a:hover {
  background-color: #1e90ff;
}

.imgform {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  margin: -5px 10px 5px;
}

.imgprof {
  width: 100%;
  height: 250px;
  margin: 0px;
}

#pagefollowers {
  font-size: 13px;
  text-align: center;
}

.imgpro {
  top: 30%;
  left: 5%;
  margin-top: -100px;
  margin-right: -50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  float: left;
  position: absolute;
  border: thick solid;
  border-color: #FFFFFF;
}
