body {
    background-color: #b0c4de;
    margin: 0;
}

#pagetweet {
    background-color: #FFFFFF;
    position: absolute;
    top: 55%;
    left: 65%;
    margin-top: -140px;
    margin-left: -250px;
    width: 500px;
}
